html {

    background-color: rgb(0,0,0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 5vh;
    scroll-behavior: smooth;
}
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row {
    display: grid;
    grid-template-areas: "button1 button2 button3"
                         "button4 button5 button5";
    grid-gap: 5px;
}
.grid-item:nth-child(1) {
    grid-area: button1;
}
.grid-item:nth-child(2) {
    grid-area: button2;
}
.grid-item:nth-child(3) {
    grid-area: button3;
}
.grid-item:nth-child(4) {
    grid-area: button4;
}
.grid-item:nth-child(5) {
    grid-area: button5;
}
.grid-item:nth-child(6) {
    grid-area: button6;
}
.logo {
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

body{
    background-color: rgb(0,0,0);
    align-items: left;

}

a{
    background-color: rgb(0,0,0);
}
.custombutton{
    border: none;
    border-radius: 50%;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 8vw;
    background-color: rgb(0,0,0);
    cursor: wait;
    transition-duration: 0.4s;
}

h1{
    font-size: 6vh;
    color: rgb(255, 255, 255);
}

