html {

    background-color: rgb(0,0,0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 5vh;
    scroll-behavior: smooth;
}
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    padding: 0px;
    top: 0px;
    right: 15px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

.topnav a {
    float: left;
    color: rgb(219, 136, 111);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a.lefticon {
    float: left;
    padding: 0px 0px;
}

.topnav a.icon {
    float: right;
}

.topnav a:hover {
    transform: scale(1.1);
}
body{
    background-color: rgb(0,0,0);
}
.typing-demo {
    width: 13ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #f1f1f1;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.custombutton{
    border: none;
    border-radius: 50%;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 8vw;
    background-color: rgb(0,0,0);
    cursor: wait;
    transition-duration: 0.4s;
}

h1{
    font-size: 6vh;
    color: rgb(219, 136, 111);
}

